body, h1, p {
    margin: 0;
}

p, a {
    font-size: 20px;
}
header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

header h1 {
  color: rgb(255, 255, 255);
}
/* main要素: 内部の余白を設定 */
main {
  padding: 10px;
}

/* id名parentの要素: Flexコンテナとその設定 */
#parent {
  display: flex;
  justify-content: space-between;
}

/* class名contentsの要素: 枠、幅、余白の設定 */
.contents {
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

/* h2要素: フォントサイズ、下線、前に記号を追加 */
.contents h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
  position: relative; /* 擬似要素で記号を前に追加するために設定 */
}

.contents h2::before {
  content: "●";
  color: rgb(239, 111, 139);
  margin-right: 5px; /* 記号とテキストの間のスペース */
}

/* class名contents内の二番目のp要素: テキストスタイル */
.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

/* class名contents内のimg要素: マージンと幅の設定 */
.contents img {
  margin: 10px 0;
  width: 70%;
}
footer a {
    color: rgb(255, 255, 255);
}
footer a:visited {
    color: rgb(193, 234, 251);
}
footer a:hover {
    color: rgb(245, 178, 168);
    cursor: pointer; /* 見た目の変化を示すためにポインターを追加 */
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  #parent {
    display: flex;
    flex-direction: column;
  }
}